{% url 'login' as login %}
<!-- al hacer esto la variable login tiene almacenado 'usuarios/login' -->
{% url 'register' as register %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a href="#" class="navbar-brand">ENCProduction</a>

  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navb"><span class="navbar-toggler-icon"></span></button>

  <div id="navb" class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <span class="fas fa-sign-in-alt"></span>
            Logout
          </a>
        </li>
      {% else %}
        <li class="nav-item {% if request.path == login %}active{% endif %}">
          <a href="{{ login }}" class="nav-link">
            <span class="fas fa-user"></span>
            Login
          </a>
        </li>
        <li class="nav-item {% if request.path == register %}active {% endif %}">
          <a href="{{ register }}" class="nav-link">
            <span class="fas fa-user-plus"></span>
            Registro
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
